In [ ]:
%reload_ext nb_black

In [3]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

%matplotlib inline

data_url = "https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/Data%20Sets%20Clustering/nba_player_seasons.csv"

* Read the data located at `data_url` into a `pandas` dataframe

In [4]:
df = pd.read_csv(data_url)

Get to know the data, what things should we explore?

* List of things I must insist we explore (the rest is up to you)
  * The number of rows/columns
  * The datatypes of each column

In [5]:
df.shape

(2141, 30)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2141 entries, 0 to 2140
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Seas    2141 non-null   int64
 1   Player  2141 non-null   object
 2   Pos     2141 non-null   object
 3   Age     2141 non-null   int64
 4   Tm      2141 non-null   object
 5   G       2141 non-null   int64
 6   GS      2141 non-null   int64
 7   MP      2141 non-null   float64
 8   FG      2141 non-null   float64
 9   FGA     2141 non-null   float64
 10  FG%     2131 non-null   float64
 11  3P      2141 non-null   float64
 12  3PA     2141 non-null   float64
 13  3P%     1967 non-null   float64
 14  2P      2141 non-null   float64
 15  2PA     2141 non-null   float64
 16  2P%     2110 non-null   float64
 17  eFG%    2131 non-null   float64
 18  FT      2141 non-null   float64
 19  FTA     2141 non-null   float64
 20  FT%     2037 non-null   float64
 21  ORB     2141 non-null   float64
 22  DRB     2141 non-null   float64
 23  TRB     2141 non-null   float64
 24  AST     2141 non-null   float64
 25  STL     2141 non-null   float64
 26  BLK     2141 non-null   float64
 27  TOV     2141 non-null   float64
 28  PF      2141 non-null   float64
 29  PTS     2141 non-null   float64
dtypes: float64(23), int64(4), object(3)
memory usage: 501.9+ KB

## What is a 'typical' number of the points column (`'PTS'`)?

Present your answer(s) with proof:
* numerically
  * generate at least 2 summary metrics that can be thought of as 'typical'
* graphically
  * what plot type might we use?
  * add your numeric values to the plot

In [7]:
df["PTS"].describe()

count    2141.000000
mean        8.321906
std         5.890566
min         0.000000
25%         4.000000
50%         6.900000
75%        11.400000
max        36.100000
Name: PTS, dtype: float64

In [8]:
df.head()

   Seas        Player Pos  Age   Tm   G  GS  ...  TRB  AST  STL  BLK  TOV   PF   PTS
0  2019  √Ålex Abrines  SG   25  OKC  31   2  ...  1.5  0.6  0.5  0.2  0.5  1.7   5.3
1  2019    Quincy Acy  PF   28  PHO  10   0  ...  2.5  0.8  0.1  0.4  0.4  2.4   1.7
2  2019  Jaylen Adams  PG   22  ATL  34   1  ...  1.8  1.9  0.4  0.1  0.8  1.3   3.2
3  2019  Steven Adams   C   25  OKC  80  80  ...  9.5  1.6  1.5  1.0  1.7  2.6  13.9
4  2019   Bam Adebayo   C   21  MIA  82  28  ...  7.3  2.2  0.9  0.8  1.5  2.5   8.9

[5 rows x 30 columns]

A note about `sns.distplot` (and plots like it).  Just like a histogram or a bar plot, this '`distplot`' uses height to show which values are the most probable.  A histogram and barplot will often use counts to show how probable each value use (the taller, the more likely).

A '`distplot`' is using a 'kernel density estimate' to show the probability density of each value rather than count.  The area under a probability distribution should sum to 1 by definition; so it can be surprising that in the below plot we see numbers greater than 1.

Remember that area has more to it than height.  For example, in our plot we have rectangles who's area is modeled by `height * width`.  The width here is the missing piece for why we can have values greater than one.  You can think of this as a probability per unit rather than a raw probability. 

[Here](https://stats.stackexchange.com/a/4223/102646) is a great, more in depth explanation.

In [9]:
sns.distplot(df["ORB"])
plt.
plt.show()

SyntaxError: ignored

## What shot percentage stat has the most variation?

Before we do that:
* Create a dataframe that contains only the columns with `'%'` in the column name. Name this data frame `percents`

In [ ]:
df.columns

In [ ]:
p_columns = [
    "FG%",
    "3P%",
    "2P%",
    "eFG%",
    "FT%",
]
percents = df[
    [
        "FG%",
        "3P%",
        "2P%",
        "eFG%",
        "FT%",
    ]
]

* In this data we have missing values, the code below shows a count of missing values per column.  Can you explain why we'd have missing values here?

In [ ]:
percents.isna().sum()

* Drop NAs from this `percents` dataframe

In [ ]:
percents = percents.dropna()

In [ ]:
percents

Back to the original question: What shot percentage stat has the most variation?

* What metric(s) can we use for this?
* What plot type(s) can we use to show this?

In [ ]:
# standard deviation for percent columns
percents.std()

In [ ]:
# variance for the percent columns
percents.var()

In [ ]:
sb.distplot(percents["FT%"])
# sb.boxplot(percents["FG%"])

## Using `.describe()` with `pandas`

* `.describe()` might have already come up depending on how we answered the above questions
* Let's explore `.describe()`'s options using `?` and `help()`

In [ ]:
help(df.describe())

## Descriptive statistics with `groupby`

Sometimes we want descriptive statistics grouped by a categorical column in our data.  For example, instead of the average of the `'PTS'` column for our full dataset, maybe we want to see the average of the `'PTS'` column for each player.

* Calculate the average `'PTS'` grouped by `'Player'`

In [19]:
df.groupby(['Player'])['PTS'].mean()

Player
A.J. Hammons       2.200000
Aaron Brooks       4.800000
Aaron Gordon      13.875000
Aaron Harrison     2.600000
Aaron Holiday      5.900000
                    ...
Zhaire Smith       6.700000
Zhou Qi            1.600000
√Ålex Abrines       5.333333
√Ångel Delgado      1.500000
√ñmer A≈üƒ±k          2.633333
Name: PTS, Length: 822, dtype: float64

* Calculate the average, standard deviation, and count of `'PTS'` for each `'Tm'` (team)
* Sort this output in descending order by average points

In [ ]:
#   average pts per team
df.groupby(['Tm'])['PTS'].mean().sort_values(ascending=False)

In [ ]:
#   std of pts per team
df.groupby(['Tm'])['PTS'].std().sort_values(ascending=False)

In [ ]:
#   sum of pts per team
df.groupby(['Tm'])['PTS'].sum().sort_values(ascending=False)

## Correlations

If we want to explore relationships between 2 numeric columns we might use a correlation.  The correlation between 2 numeric columns ranges between `[-1, 1]`.

* A correlation of -1 is a strong negative correlation
  * For example, `amount of money spent` and `amount of money saved` would be negatively correlated.  As the `amount of money spent` goes up the `amount of money saved` would go down and vice versa.
* A correlation of 0 is a weak correlation
  * For example, the `number of words in the harry potter books` and the `number of arrests in costa rica` are likely not very related.
* A correlation of 1 is a strong positive correlation
  * For example, `amount of ice cream sold` and `temperature` are likely positively correlated.  As the `temperature` goes up the `amount of ice cream sold` likely goes up as well.
  
Note the classic phrase: "correlation does not equal causation".  Just because 2 things are related doesn't mean one thing causes the other ([this site](https://www.tylervigen.com/spurious-correlations) has examples of correlations that are 'spurious' that is, the 2 variables appear related, but they likely aren't).

To run a correlation on a `pandas` dataframe we can use `.corr()`.

* Apply `.corr()` to our dataframe
* What numeric variables are related? is this a positive or negative relationship?

In [ ]:
df.corr()

## Creating your own statistics

Sometimes you might create some metric to summarize a record.  For example, we all have a credit score that is a combination of a lot of separate metrics.  Some of these style of metrics might be referred to as a index (i.e. a financial index), note that this is different than a `pandas` index.

How might we create a player rating metric for our data?

In [52]:
df['Production'] = df['PTS']/df['MP']
df[df['MP'] > 15].sort_values(['Production'], ascending=False)

      Seas             Player Pos  Age   Tm  ...  BLK  TOV   PF   PTS  Production
205   2019       James Harden  PG   29  HOU  ...  0.7  5.0  3.1  36.1    0.980978
1628  2017  Russell Westbrook  PG   28  OKC  ...  0.4  5.4  2.3  31.6    0.913295
1769  2016      Stephen Curry  PG   27  GSW  ...  0.2  3.3  2.0  30.1    0.880117
723   2018       James Harden  SG   28  HOU  ...  0.7  4.4  2.3  30.4    0.858757
1586  2017      Isaiah Thomas  PG   27  BOS  ...  0.2  2.8  2.2  28.9    0.855030
...    ...                ...  ..  ...  ...  ...  ...  ...  ...   ...         ...
747   2018       Solomon Hill  SF   26  NOP  ...  0.1  0.8  1.8   2.4    0.153846
2030  2016    Tayshaun Prince  SF   35  MIN  ...  0.2  0.4  0.8   2.9    0.152632
1000  2018     Marquis Teague  PG   24  MEM  ...  0.0  1.0  1.7   3.7    0.149798
1128  2017       Andrew Bogut   C   32  TOT  ...  0.9  1.6  3.2   2.9    0.134259
1129  2017       Andrew Bogut   C   32  DAL  ...  1.0  1.7  3.2   3.0    0.133929

[1404 rows x 31 columns]