# Descriptive Statistics Assignment

In [ ]:
import pandas as pd
from scipy import stats

In [ ]:
data_url = "http://data.insideairbnb.com/united-states/ny/new-york-city/2020-06-08/visualisations/listings.csv"

### Read the aggregated AirBnB listings of New York (using `data_url`) into a Pandas data frame.

In [ ]:
df = pd.read_csv(data_url)

### Print the data type for each column.

In [ ]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

### Generate a basic set of descriptive statistics for the numeric fields in the data set.

In [ ]:
df.head(5)

     id  ... availability_365
0  2060  ...              365
1  2595  ...              335
2  3831  ...              276
3  5099  ...                0
4  5121  ...              365

[5 rows x 16 columns]

In [ ]:
df_nums = df[['id', 'host_id', 'price', 'minimum_nights', 'number_of_reviews', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']]

In [ ]:
# use .describe() method on the df_nums to return basic descriptive characteristics
df_stats = df_nums.describe().T
df_stats

                                  count  ...          max
id                              49530.0  ...   43703359.0
host_id                         49530.0  ...  349082641.0
price                           49530.0  ...      10000.0
minimum_nights                  49530.0  ...       1250.0
number_of_reviews               49530.0  ...        746.0
reviews_per_month               38211.0  ...         53.8
calculated_host_listings_count  49530.0  ...        280.0
availability_365                49530.0  ...        365.0

[8 rows x 8 columns]

### Calculate the following for each numeric field in the data set and add them to the data frame containing the basic set of descriptive statistics.

- Variance
- Mean Absolute Deviation
- Range
- Interquartile Range

In [ ]:
# calculate the variance for the numerical dataframe
df_stats['Variance'] = df_nums.var()

# .mad() method to calculate the mean absolute deviation for df_nums
df_stats['Mean Abs Deviation'] = df_nums.mad()

# calculate the range for df_nums by subtracting the max value from the min value
df_stats['Range'] = (df_nums.max() - df_nums.min())

# calculate the IQR of df_nums by subtracting the 25th percentile from the 75th
df_stats['IQR'] = df_stats['75%'] - df_stats['25%']

In [ ]:
df_stats

                                  count  ...           IQR
id                              49530.0  ...  2.472729e+07
host_id                         49530.0  ...  1.280898e+08
price                           49530.0  ...  1.070000e+02
minimum_nights                  49530.0  ...  4.000000e+00
number_of_reviews               49530.0  ...  2.200000e+01
reviews_per_month               38211.0  ...  1.270000e+00
calculated_host_listings_count  49530.0  ...  1.000000e+00
availability_365                49530.0  ...  2.670000e+02

[8 rows x 12 columns]

### Generate a basic set of descriptive statistics for the categorical fields in the data set.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49530 entries, 0 to 49529
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              49530 non-null  int64
 1   name                            49512 non-null  object
 2   host_id                         49530 non-null  int64
 3   host_name                       49524 non-null  object
 4   neighbourhood_group             49530 non-null  object
 5   neighbourhood                   49530 non-null  object
 6   latitude                        49530 non-null  float64
 7   longitude                       49530 non-null  float64
 8   room_type                       49530 non-null  object
 9   price                           49530 non-null  int64
 10  minimum_nights                  49530 non-null  int64
 11  number_of_reviews               49530 non-null  int64
 12  last_review                     38211 non-null  object
 13  reviews_per_month               38211 non-null  float64
 14  calculated_host_listings_count  49530 non-null  int64
 15  availability_365                49530 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [ ]:
# variable for the df categorical fields
df_cats = df[['name', 'host_name', 'neighbourhood_group', 'neighbourhood', 'room_type', 'last_review']]

In [ ]:
# create a variable for the category df stats
cat_stats = df_cats.describe().T

### Calculate the Pearson correlation coefficients between price, minimum_nights, reviews_per_month, calculated_host_listings_count and availability_365

In [ ]:
# correlation coeficients between categories
df[['price', 'minimum_nights', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']].corr()

                                   price  ...  availability_365
price                           1.000000  ...          0.055788
minimum_nights                  0.015923  ...          0.148435
reviews_per_month              -0.011623  ...          0.213093
calculated_host_listings_count  0.004730  ...          0.173181
availability_365                0.055788  ...          1.000000

[5 rows x 5 columns]

### Group the data by neighbourhood and calculate the mean and standard deviation of price for each neighbourhood.

In [ ]:
# variable for the df grouped by neighborhood
df_neighborhoods = df.groupby('neighbourhood')

In [ ]:
# price mean by neighborhood
df_neighborhoods['price'].mean()

neighbourhood
Allerton             94.500000
Arden Heights       102.600000
Arrochar            104.315789
Arverne             187.125000
Astoria             104.109865
                      ...
Windsor Terrace     138.067114
Woodhaven            69.638095
Woodlawn             61.700000
Woodrow            2350.000000
Woodside             69.383721
Name: price, Length: 222, dtype: float64

In [ ]:
# price standard deviation by neighborhood
df_neighborhoods['price'].std()

neighbourhood
Allerton             83.219379
Arden Heights        54.834296
Arrochar            136.241229
Arverne             231.710658
Astoria             124.606979
                      ...
Windsor Terrace      89.830596
Woodhaven            43.294191
Woodlawn             24.882167
Woodrow            2333.452378
Woodside             85.328235
Name: price, Length: 222, dtype: float64

### Create a new mimimum revenue index variable that combines the price, minimum nights, calculate host listings count into a single value for each dwelling. Then sort the data frame by that value to see which dwelling has the most financial strength.

In [ ]:
# created new column for mri by adding columns
df['mri'] = df['price']+df['minimum_nights']+df['calculated_host_listings_count']

In [ ]:
# sorted the df with the mri column by mri descending
mri_sort = df.sort_values('mri', ascending=False)

In [ ]:
# selected the host_id, host_name, and mri columns to view the highest mri
mri_sort.head(1)

            id                                 name  ...  availability_365    mri
10825  9528920  Quiet, Clean, Lit @ LES & Chinatown  ...                83  10099

[1 rows x 17 columns]

### Group the data by neighbourhood_group and calculate the average minimum revenue index for each neighbourhood_group.

In [ ]:
df.groupby(['neighbourhood_group'])['mri'].mean()

neighbourhood_group
Bronx             97.798831
Brooklyn         134.571522
Manhattan        238.448982
Queens           113.417765
Staten Island    123.291892
Name: mri, dtype: float64