In [ ]:
from scipy.stats import zscore

In [ ]:
def calc_non_param_ci(x1, x2, alpha=0.05):
	'''Calc confidence interval for 2 group median test
	Process:
	* Find all pairwise diffs
	* Sort diffs
	* Find appropriate value of k
	* Choose lower bound from diffs as: diffs[k]
	* Choose upper bound from diffs as: diffs[-k]
	Based on: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2545906/

	:param x1: sample 1
	:param x2: sample 2
	:param alpha: significance level
	:return: (tuple) confidence interval bounds
	'''

	x1 = np.array(x1)
	x2 = np.array(x2)

	n1 = x1.size
	n2 = x2.size
	cv = stats.norm.ppf(1 - alpha / 2)

	# Find pairwise differences for every datapoint in each group
	diffs = (x1[:, None] - x2).flatten()
	diffs.sort()

	# For an approximate (1-a)% confidence interval first calculate K:
	k = int(round(n1 * n2 / 2 - (cv * (n1 * n2 * (n1 + n2 + 1) / 12) ** 0.5)))

	# The Kth smallest to the Kth largest of the n x m differences
	# n1 and n2 should be > ~20
	ci_lo = diffs[k]
	ci_hi = diffs[-k]

	return ci_lo, ci_hi

In [ ]:
def cles_ind(x1, x2):
	'''Calc common language effect size
	Interpret as the probability that a score sampled
	at random from one distribution will be greater than
	a score sampled from some other distribution.
	Based on: http://psycnet.apa.org/doi/10.1037/0033-2909.111.2.361
	:param x1: sample 1
	:param x2: sample 2
	:return: (float) common language effect size
	'''
	x1 = np.array(x1)
	x2 = np.array(x2)
	diff = x1[:, None] - x2
	cles = max((diff < 0).sum(), (diff > 0).sum()) / diff.size
	return cles

In [ ]:
from tqdm.notebook import tqdm as status

In [ ]:
def get_95_ci(x1, x2):
	#  Calculate a 95% CI for 2 1d numpy arrays
	signal = x1.mean() - x2.mean()
	noise = np.sqrt(x1.var() / x1.size + x2.var() / x2.size)
	ci_lo = signal - 1.96 * noise
	ci_hi = signal + 1.96 * noise
	return ci_lo, ci_hi

In [ ]:
from statsmodels.stats.multitest import multipletests

In [ ]:
%reload_ext nb_black
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'kickstarterprojects'
conn_str = f'postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}'
query = '''
SELECT *
FROM youtube
'''
youtube_df = pd.read_sql_query(query, con=conn_str)

In [ ]:
%reload_ext nb_black
import pandas as pd
from scipy import stats
from statsmodels.graphics.gofplots import qqplot
from statsmodels.stats.multitest import multipletests
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from scipy.stats import f_oneway as anova
import statsmodels.api as sm
from statsmodels.formula.api import ols
from statsmodels.stats.multicomp import pairwise_tukeyhsd as tukey

In [ ]:
from scipy import stats

In [ ]:
%reload_ext nb_black
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats

In [ ]:
%reload_ext nb_black
from matplotlib import pyplot as plt
import plotly
import seaborn as sns
from statsmodels.graphics.gofplots import qqplot
%matplotlib inline

In [ ]:
from statsmodels.graphics.gofplots import qqplot

In [ ]:
%reload_ext nb_black
import pandas as pd
import numpy as np

Data & Imports

In [1]:
%reload_ext nb_black
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import plotly
import seaborn as sns
from statsmodels.graphics.gofplots import qqplot
import warnings

warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
postgres_user = "dsbc_student"
postgres_pw = "7*.8G9QH21"
postgres_host = "142.93.121.174"
postgres_port = "5432"
postgres_db = "useducation"
conn_str = f"postgresql://{postgres_user}:{postgres_pw}@{postgres_host}:{postgres_port}/{postgres_db}"

query = """
SELECT *
FROM useducation
"""

df = pd.read_sql_query(query, con=conn_str)
df.head()

,PRIMARY_KEY,STATE,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
0,1992_ALABAMA,ALABAMA,1992,NaN,2678885.0,304177.0,1659028.0,715680.0,2653798.0,1481703.0,...,57948.0,58025.0,41167.0,471564.0,196386.0,676174.0,208.327876,252.187522,207.963517,NaN
1,1992_ALASKA,ALASKA,1992,NaN,1049591.0,106780.0,720711.0,222100.0,972488.0,498362.0,...,9748.0,8789.0,6714.0,79117.0,30847.0,112335.0,NaN,NaN,NaN,258.859712
2,1992_ARIZONA,ARIZONA,1992,NaN,3258079.0,297888.0,1369815.0,1590376.0,3401580.0,1435908.0,...,55433.0,49081.0,37410.0,437127.0,175210.0,614881.0,215.253932,265.366278,206.212716,262.169895
3,1992_ARKANSAS,ARKANSAS,1992,NaN,1711959.0,178571.0,958785.0,574603.0,1743022.0,964323.0,...,34632.0,36011.0,27651.0,281338.0,123113.0,405259.0,210.206028,256.312090,208.634458,264.619665
4,1992_CALIFORNIA,CALIFORNIA,1992,NaN,26260025.0,2072470.0,16546514.0,7641041.0,27138832.0,14358922.0,...,418418.0,363296.0,270675.0,3286034.0,1372011.0,4717112.0,208.398961,260.892247,196.764414,NaN

# Determine all the variable types and find the fraction of the missing values for each variable.

In [3]:
# variable types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492 entries, 0 to 1491
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1492 non-null   object
 1   STATE                         1492 non-null   object
 2   YEAR                          1492 non-null   int64
 3   ENROLL                        1229 non-null   float64
 4   TOTAL_REVENUE                 1280 non-null   float64
 5   FEDERAL_REVENUE               1280 non-null   float64
 6   STATE_REVENUE                 1280 non-null   float64
 7   LOCAL_REVENUE                 1280 non-null   float64
 8   TOTAL_EXPENDITURE             1280 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1280 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1280 non-null   float64
 11  OTHER_EXPENDITURE             1229 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1280 non-null   float64
 13  GRADES_PK_G                   1319 non-null   float64
 14  GRADES_KG_G                   1360 non-null   float64
 15  GRADES_4_G                    1361 non-null   float64
 16  GRADES_8_G                    1361 non-null   float64
 17  GRADES_12_G                   1361 non-null   float64
 18  GRADES_1_8_G                  1361 non-null   float64
 19  GRADES_9_12_G                 1361 non-null   float64
 20  GRADES_ALL_G                  1319 non-null   float64
 21  AVG_MATH_4_SCORE              536 non-null    float64
 22  AVG_MATH_8_SCORE              532 non-null    float64
 23  AVG_READING_4_SCORE           533 non-null    float64
 24  AVG_READING_8_SCORE           498 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 291.5+ KB

In [4]:
# fraction of null values for each variable
df.isna().mean().sort_values(ascending=False)

AVG_READING_8_SCORE             0.666220
AVG_MATH_8_SCORE                0.643432
AVG_READING_4_SCORE             0.642761
AVG_MATH_4_SCORE                0.640751
OTHER_EXPENDITURE               0.176273
ENROLL                          0.176273
TOTAL_REVENUE                   0.142091
FEDERAL_REVENUE                 0.142091
STATE_REVENUE                   0.142091
LOCAL_REVENUE                   0.142091
TOTAL_EXPENDITURE               0.142091
INSTRUCTION_EXPENDITURE         0.142091
SUPPORT_SERVICES_EXPENDITURE    0.142091
CAPITAL_OUTLAY_EXPENDITURE      0.142091
GRADES_PK_G                     0.115952
GRADES_ALL_G                    0.115952
GRADES_KG_G                     0.088472
GRADES_4_G                      0.087802
GRADES_8_G                      0.087802
GRADES_12_G                     0.087802
GRADES_1_8_G                    0.087802
GRADES_9_12_G                   0.087802
YEAR                            0.000000
STATE                           0.000000
PRIMARY_KEY                     0.000000
dtype: float64

2. Notice that the data has a time dimension (year). For this assignment, forget about time and treat all the observations as if they're from the same year. Choose a strategy to deal with the missing values for each variable. For which variables would filling in the missing values with some value make sense? For which might tossing out the records entirely make sense?

In [5]:
columns = [
    "AVG_MATH_4_SCORE",
    "AVG_MATH_8_SCORE",
    "AVG_READING_4_SCORE",
    "AVG_READING_8_SCORE",
]

In [6]:
df.dropna(inplace=True, subset=columns)

In [7]:
# df.isna().sum()

In [8]:
df.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,474.000000,4.160000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.160000e+02,...,423.000000,423.000000,423.000000,4.230000e+02,4.230000e+02,4.200000e+02,474.000000,474.000000,474.000000,474.000000
mean,2008.305907,9.414834e+05,1.036250e+07,9.314932e+05,4.796499e+06,4.634505e+06,1.046729e+07,5.409149e+06,3.059024e+06,4.794490e+05,...,71800.108747,72316.938534,63612.397163,5.784894e+05,2.832533e+05,8.748118e+05,236.541353,279.511266,219.305086,263.772645
std,6.096588,1.120275e+06,1.300248e+07,1.317133e+06,6.114588e+06,6.043418e+06,1.324364e+07,6.945857e+06,3.697200e+06,5.856068e+05,...,85693.801644,85301.129298,76249.079764,6.879738e+05,3.376090e+05,1.026837e+06,9.159956,9.695064,7.698038,6.834157
min,1992.000000,4.417900e+04,6.452330e+05,4.100700e+04,0.000000e+00,2.853100e+04,6.387840e+05,3.182600e+05,1.949150e+05,2.191000e+04,...,3423.000000,2860.000000,2188.000000,2.676200e+04,9.970000e+03,3.682300e+04,187.134670,232.831510,178.557612,236.379102
25%,2005.000000,2.781248e+05,2.638304e+06,2.482420e+05,1.367580e+06,9.251375e+05,2.602185e+06,1.395808e+06,7.894045e+05,1.277278e+05,...,20449.000000,20806.000000,18508.500000,1.661155e+05,8.169000e+04,2.593720e+05,232.062602,274.436276,215.044071,259.762432
50%,2009.000000,6.639415e+05,5.991731e+06,5.345100e+05,2.945175e+06,2.335986e+06,6.024747e+06,3.053380e+06,1.814927e+06,3.233980e+05,...,50408.000000,49723.000000,40927.000000,4.050170e+05,1.843030e+05,6.231180e+05,238.289254,281.369105,220.928176,265.136000
75%,2013.000000,1.015914e+06,1.167961e+07,1.009335e+06,5.905138e+06,5.153868e+06,1.141156e+07,5.947704e+06,3.526303e+06,5.470735e+05,...,79003.500000,80846.000000,74640.500000,6.382440e+05,3.210600e+05,9.685105e+05,242.557845,286.154375,224.488094,268.275364
max,2017.000000,6.307022e+06,7.824804e+07,9.990221e+06,4.236047e+07,3.494151e+07,7.836596e+07,4.195426e+07,2.350185e+07,3.759373e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.011865e+06,5.926631e+06,253.420961,300.568235,236.773867,280.499130

# Now, take into account the time factor. Replicate your second answer, but this time fill in the missing values by using a statistic that is calculated within the year of the observation. For example, if you want to fill in a missing value for a variable with the mean of that variable, calculate the mean by using only the observations for that specific year.

In [9]:
df2 = pd.read_sql_query(query, con=conn_str)

In [10]:
columns = [
    "OTHER_EXPENDITURE",
    "ENROLL",
    "TOTAL_REVENUE",
    "FEDERAL_REVENUE",
    "STATE_REVENUE",
    "LOCAL_REVENUE",
    "TOTAL_EXPENDITURE",
    "INSTRUCTION_EXPENDITURE",
    "SUPPORT_SERVICES_EXPENDITURE",
    "CAPITAL_OUTLAY_EXPENDITURE",
    "GRADES_PK_G",
    "GRADES_ALL_G",
    "GRADES_KG_G",
    "GRADES_4_G",
    "GRADES_8_G",
    "GRADES_12_G",
    "GRADES_1_8_G",
    "GRADES_9_12_G",
]

yrs = df2.YEAR.unique().tolist()

In [11]:
for year in yrs:
    for column in columns:
        year_mean = df2[df2.YEAR == year][column].mean()
        df2.loc[df2.YEAR == year, column] = df2[df2.YEAR == year][column].fillna(year_mean)

In [12]:
df2.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1492.000000,1.385000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.385000e+03,...,1390.000000,1390.000000,1390.000000,1.390000e+03,1.390000e+03,1.390000e+03,536.000000,532.000000,533.000000,498.000000
mean,2004.433646,9.161654e+05,9.084108e+06,7.662749e+05,4.213597e+06,4.104236e+06,9.190557e+06,4.758243e+06,2.677770e+06,4.286507e+05,...,64590.152441,64331.744106,54418.075582,5.196200e+05,2.474932e+05,8.029178e+05,234.768293,278.414711,218.866154,263.661132
std,7.393983,1.003532e+06,1.110204e+07,1.085057e+06,5.237195e+06,5.181475e+06,1.132084e+07,5.947042e+06,3.170760e+06,5.041013e+05,...,79451.944548,78083.976028,67187.337112,6.368932e+05,3.044943e+05,9.456162e+05,10.221511,10.159722,7.769616,6.803725
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,633.000000,437.000000,311.000000,4.878000e+03,1.808000e+03,7.254000e+03,187.134670,232.831510,178.557612,236.379102
25%,1998.000000,2.867590e+05,2.425600e+06,2.068530e+05,1.319582e+06,8.747060e+05,2.427316e+06,1.306105e+06,7.350360e+05,1.199340e+05,...,14190.500000,13698.250000,11161.750000,1.129712e+05,5.270300e+04,1.939785e+05,229.694352,272.761598,214.663401,259.533171
50%,2004.000000,7.374010e+05,5.778507e+06,4.461800e+05,2.857497e+06,2.398344e+06,5.858385e+06,3.033016e+06,1.720824e+06,3.070220e+05,...,44909.500000,44756.500000,37541.500000,3.611705e+05,1.706525e+05,5.983920e+05,237.238552,280.618803,220.416034,265.010912
75%,2011.000000,9.624880e+05,1.116863e+07,8.956420e+05,5.187230e+06,4.995971e+06,1.116970e+07,5.672620e+06,3.333043e+06,5.223475e+05,...,75149.750000,75016.250000,67026.000000,6.052242e+05,2.888522e+05,9.045562e+05,241.995486,285.347428,223.999337,268.190121
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130

In [13]:
# df.isna().sum()

# This time, fill in the missing values using interpolation (extrapolation).

In [14]:
df3 = pd.read_sql_query(query, con=conn_str)

In [15]:
for year in yrs:
    for column in columns:
        df3.loc[df3.YEAR == year, column] = df3[df3.YEAR == year][column].interpolate()

In [16]:
df3.describe()

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,1492.000000,1.385000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.385000e+03,...,1390.000000,1390.000000,1390.000000,1.390000e+03,1.390000e+03,1.389000e+03,536.000000,532.000000,533.000000,498.000000
mean,2004.433646,8.275492e+05,8.245375e+06,6.923030e+05,3.833809e+06,3.719263e+06,8.336934e+06,4.315352e+06,2.431959e+06,3.862203e+05,...,63313.416547,63044.577698,53226.568345,5.093477e+05,2.423363e+05,7.767362e+05,234.768293,278.414711,218.866154,263.661132
std,7.393983,1.035312e+06,1.133687e+07,1.099649e+06,5.342626e+06,5.287804e+06,1.155975e+07,6.070526e+06,3.241094e+06,5.176803e+05,...,79901.750909,78541.805164,67560.332598,6.405315e+05,3.062259e+05,9.543821e+05,10.221511,10.159722,7.769616,6.803725
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,633.000000,437.000000,311.000000,4.878000e+03,1.808000e+03,7.254000e+03,187.134670,232.831510,178.557612,236.379102
25%,1998.000000,1.498010e+05,1.684706e+06,1.402420e+05,8.809160e+05,6.229910e+05,1.675477e+06,8.468720e+05,5.048380e+05,6.489600e+04,...,12412.500000,12529.500000,10628.250000,9.878725e+04,4.853425e+04,1.712200e+05,229.694352,272.761598,214.663401,259.533171
50%,2004.000000,5.324330e+05,4.330089e+06,3.507970e+05,2.259753e+06,1.660527e+06,4.363308e+06,2.236724e+06,1.257432e+06,2.298470e+05,...,42089.500000,42805.500000,35979.500000,3.396065e+05,1.601440e+05,5.265140e+05,237.238552,280.618803,220.416034,265.010912
75%,2011.000000,9.624880e+05,9.670620e+06,7.730140e+05,4.517924e+06,4.108728e+06,9.779642e+06,5.148806e+06,2.865861e+06,4.793520e+05,...,75149.750000,75016.250000,67026.000000,6.052242e+05,2.888522e+05,9.092800e+05,241.995486,285.347428,223.999337,268.190121
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130

In [17]:
# df.isna().sum()

# Compare your results for the second, third, and fourth questions. Do you find any meaningful differences?

In [20]:
df_compare = pd.concat([df.describe(), df2.describe(), df3.describe()])
df_compare

,YEAR,ENROLL,TOTAL_REVENUE,FEDERAL_REVENUE,STATE_REVENUE,LOCAL_REVENUE,TOTAL_EXPENDITURE,INSTRUCTION_EXPENDITURE,SUPPORT_SERVICES_EXPENDITURE,OTHER_EXPENDITURE,...,GRADES_4_G,GRADES_8_G,GRADES_12_G,GRADES_1_8_G,GRADES_9_12_G,GRADES_ALL_G,AVG_MATH_4_SCORE,AVG_MATH_8_SCORE,AVG_READING_4_SCORE,AVG_READING_8_SCORE
count,474.000000,4.160000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.230000e+02,4.160000e+02,...,423.000000,423.000000,423.000000,4.230000e+02,4.230000e+02,4.200000e+02,474.000000,474.000000,474.000000,474.000000
mean,2008.305907,9.414834e+05,1.036250e+07,9.314932e+05,4.796499e+06,4.634505e+06,1.046729e+07,5.409149e+06,3.059024e+06,4.794490e+05,...,71800.108747,72316.938534,63612.397163,5.784894e+05,2.832533e+05,8.748118e+05,236.541353,279.511266,219.305086,263.772645
std,6.096588,1.120275e+06,1.300248e+07,1.317133e+06,6.114588e+06,6.043418e+06,1.324364e+07,6.945857e+06,3.697200e+06,5.856068e+05,...,85693.801644,85301.129298,76249.079764,6.879738e+05,3.376090e+05,1.026837e+06,9.159956,9.695064,7.698038,6.834157
min,1992.000000,4.417900e+04,6.452330e+05,4.100700e+04,0.000000e+00,2.853100e+04,6.387840e+05,3.182600e+05,1.949150e+05,2.191000e+04,...,3423.000000,2860.000000,2188.000000,2.676200e+04,9.970000e+03,3.682300e+04,187.134670,232.831510,178.557612,236.379102
25%,2005.000000,2.781248e+05,2.638304e+06,2.482420e+05,1.367580e+06,9.251375e+05,2.602185e+06,1.395808e+06,7.894045e+05,1.277278e+05,...,20449.000000,20806.000000,18508.500000,1.661155e+05,8.169000e+04,2.593720e+05,232.062602,274.436276,215.044071,259.762432
50%,2009.000000,6.639415e+05,5.991731e+06,5.345100e+05,2.945175e+06,2.335986e+06,6.024747e+06,3.053380e+06,1.814927e+06,3.233980e+05,...,50408.000000,49723.000000,40927.000000,4.050170e+05,1.843030e+05,6.231180e+05,238.289254,281.369105,220.928176,265.136000
75%,2013.000000,1.015914e+06,1.167961e+07,1.009335e+06,5.905138e+06,5.153868e+06,1.141156e+07,5.947704e+06,3.526303e+06,5.470735e+05,...,79003.500000,80846.000000,74640.500000,6.382440e+05,3.210600e+05,9.685105e+05,242.557845,286.154375,224.488094,268.275364
max,2017.000000,6.307022e+06,7.824804e+07,9.990221e+06,4.236047e+07,3.494151e+07,7.836596e+07,4.195426e+07,2.350185e+07,3.759373e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.011865e+06,5.926631e+06,253.420961,300.568235,236.773867,280.499130
count,1492.000000,1.385000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.385000e+03,...,1390.000000,1390.000000,1390.000000,1.390000e+03,1.390000e+03,1.390000e+03,536.000000,532.000000,533.000000,498.000000
mean,2004.433646,9.161654e+05,9.084108e+06,7.662749e+05,4.213597e+06,4.104236e+06,9.190557e+06,4.758243e+06,2.677770e+06,4.286507e+05,...,64590.152441,64331.744106,54418.075582,5.196200e+05,2.474932e+05,8.029178e+05,234.768293,278.414711,218.866154,263.661132
std,7.393983,1.003532e+06,1.110204e+07,1.085057e+06,5.237195e+06,5.181475e+06,1.132084e+07,5.947042e+06,3.170760e+06,5.041013e+05,...,79451.944548,78083.976028,67187.337112,6.368932e+05,3.044943e+05,9.456162e+05,10.221511,10.159722,7.769616,6.803725
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,633.000000,437.000000,311.000000,4.878000e+03,1.808000e+03,7.254000e+03,187.134670,232.831510,178.557612,236.379102
25%,1998.000000,2.867590e+05,2.425600e+06,2.068530e+05,1.319582e+06,8.747060e+05,2.427316e+06,1.306105e+06,7.350360e+05,1.199340e+05,...,14190.500000,13698.250000,11161.750000,1.129712e+05,5.270300e+04,1.939785e+05,229.694352,272.761598,214.663401,259.533171
50%,2004.000000,7.374010e+05,5.778507e+06,4.461800e+05,2.857497e+06,2.398344e+06,5.858385e+06,3.033016e+06,1.720824e+06,3.070220e+05,...,44909.500000,44756.500000,37541.500000,3.611705e+05,1.706525e+05,5.983920e+05,237.238552,280.618803,220.416034,265.010912
75%,2011.000000,9.624880e+05,1.116863e+07,8.956420e+05,5.187230e+06,4.995971e+06,1.116970e+07,5.672620e+06,3.333043e+06,5.223475e+05,...,75149.750000,75016.250000,67026.000000,6.052242e+05,2.888522e+05,9.045562e+05,241.995486,285.347428,223.999337,268.190121
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130
count,1492.000000,1.385000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.441000e+03,1.385000e+03,...,1390.000000,1390.000000,1390.000000,1.390000e+03,1.390000e+03,1.389000e+03,536.000000,532.000000,533.000000,498.000000
mean,2004.433646,8.275492e+05,8.245375e+06,6.923030e+05,3.833809e+06,3.719263e+06,8.336934e+06,4.315352e+06,2.431959e+06,3.862203e+05,...,63313.416547,63044.577698,53226.568345,5.093477e+05,2.423363e+05,7.767362e+05,234.768293,278.414711,218.866154,263.661132
std,7.393983,1.035312e+06,1.133687e+07,1.099649e+06,5.342626e+06,5.287804e+06,1.155975e+07,6.070526e+06,3.241094e+06,5.176803e+05,...,79901.750909,78541.805164,67560.332598,6.405315e+05,3.062259e+05,9.543821e+05,10.221511,10.159722,7.769616,6.803725
min,1992.000000,4.386600e+04,4.656500e+05,3.102000e+04,0.000000e+00,2.209300e+04,4.816650e+05,2.655490e+05,1.399630e+05,1.154100e+04,...,633.000000,437.000000,311.000000,4.878000e+03,1.808000e+03,7.254000e+03,187.134670,232.831510,178.557612,236.379102
25%,1998.000000,1.498010e+05,1.684706e+06,1.402420e+05,8.809160e+05,6.229910e+05,1.675477e+06,8.468720e+05,5.048380e+05,6.489600e+04,...,12412.500000,12529.500000,10628.250000,9.878725e+04,4.853425e+04,1.712200e+05,229.694352,272.761598,214.663401,259.533171
50%,2004.000000,5.324330e+05,4.330089e+06,3.507970e+05,2.259753e+06,1.660527e+06,4.363308e+06,2.236724e+06,1.257432e+06,2.298470e+05,...,42089.500000,42805.500000,35979.500000,3.396065e+05,1.601440e+05,5.265140e+05,237.238552,280.618803,220.416034,265.010912
75%,2011.000000,9.624880e+05,9.670620e+06,7.730140e+05,4.517924e+06,4.108728e+06,9.779642e+06,5.148806e+06,2.865861e+06,4.793520e+05,...,75149.750000,75016.250000,67026.000000,6.052242e+05,2.888522e+05,9.092800e+05,241.995486,285.347428,223.999337,268.190121
max,2017.000000,6.307022e+06,8.921726e+07,9.990221e+06,5.090457e+07,3.610526e+07,8.532013e+07,4.396452e+07,2.605802e+07,3.995951e+06,...,493415.000000,500143.000000,498403.000000,3.929869e+06,2.013687e+06,5.944746e+06,253.420961,300.568235,236.773867,280.499130

In [24]:
# differences in means of the dataframes
# the means of the 2nd and 3rd df were raised and lowered respectively 
pd.concat([df.mean(), df2.mean(), df3.mean()], axis=1)

                                         0             1             2
YEAR                          2.008306e+03  2.004434e+03  2.004434e+03
ENROLL                        9.414834e+05  9.161654e+05  8.275492e+05
TOTAL_REVENUE                 1.036250e+07  9.084108e+06  8.245375e+06
FEDERAL_REVENUE               9.314932e+05  7.662749e+05  6.923030e+05
STATE_REVENUE                 4.796499e+06  4.213597e+06  3.833809e+06
LOCAL_REVENUE                 4.634505e+06  4.104236e+06  3.719263e+06
TOTAL_EXPENDITURE             1.046729e+07  9.190557e+06  8.336934e+06
INSTRUCTION_EXPENDITURE       5.409149e+06  4.758243e+06  4.315352e+06
SUPPORT_SERVICES_EXPENDITURE  3.059024e+06  2.677770e+06  2.431959e+06
OTHER_EXPENDITURE             4.794490e+05  4.286507e+05  3.862203e+05
CAPITAL_OUTLAY_EXPENDITURE    1.024200e+06  9.044417e+05  8.249715e+05
GRADES_PK_G                   2.195309e+04  1.767258e+04  1.688202e+04
GRADES_KG_G                   7.149038e+04  6.381017e+04  6.250042e+04
GRADES_4_G                    7.180011e+04  6.459015e+04  6.331342e+04
GRADES_8_G                    7.231694e+04  6.433174e+04  6.304458e+04
GRADES_12_G                   6.361240e+04  5.441808e+04  5.322657e+04
GRADES_1_8_G                  5.784894e+05  5.196200e+05  5.093477e+05
GRADES_9_12_G                 2.832533e+05  2.474932e+05  2.423363e+05
GRADES_ALL_G                  8.748118e+05  8.029178e+05  7.767362e+05
AVG_MATH_4_SCORE              2.365414e+02  2.347683e+02  2.347683e+02
AVG_MATH_8_SCORE              2.795113e+02  2.784147e+02  2.784147e+02
AVG_READING_4_SCORE           2.193051e+02  2.188662e+02  2.188662e+02
AVG_READING_8_SCORE           2.637726e+02  2.636611e+02  2.636611e+02

In [25]:
# differences in medians
# the medians of the 2nd and 3rd df were raised and lowered respectively 
pd.concat([df.median(), df2.median(), df3.median()], axis=1)

                                         0             1             2
YEAR                          2.009000e+03  2.004000e+03  2.004000e+03
ENROLL                        6.639415e+05  7.374010e+05  5.324330e+05
TOTAL_REVENUE                 5.991731e+06  5.778507e+06  4.330089e+06
FEDERAL_REVENUE               5.345100e+05  4.461800e+05  3.507970e+05
STATE_REVENUE                 2.945175e+06  2.857497e+06  2.259753e+06
LOCAL_REVENUE                 2.335986e+06  2.398344e+06  1.660527e+06
TOTAL_EXPENDITURE             6.024747e+06  5.858385e+06  4.363308e+06
INSTRUCTION_EXPENDITURE       3.053380e+06  3.033016e+06  2.236724e+06
SUPPORT_SERVICES_EXPENDITURE  1.814927e+06  1.720824e+06  1.257432e+06
OTHER_EXPENDITURE             3.233980e+05  3.070220e+05  2.298470e+05
CAPITAL_OUTLAY_EXPENDITURE    5.894130e+05  5.809340e+05  4.243680e+05
GRADES_PK_G                   1.234450e+04  9.066500e+03  7.410000e+03
GRADES_KG_G                   5.098500e+04  4.296800e+04  4.055950e+04
GRADES_4_G                    5.040800e+04  4.490950e+04  4.208950e+04
GRADES_8_G                    4.972300e+04  4.475650e+04  4.280550e+04
GRADES_12_G                   4.092700e+04  3.754150e+04  3.597950e+04
GRADES_1_8_G                  4.050170e+05  3.611705e+05  3.396065e+05
GRADES_9_12_G                 1.843030e+05  1.706525e+05  1.601440e+05
GRADES_ALL_G                  6.231180e+05  5.983920e+05  5.265140e+05
AVG_MATH_4_SCORE              2.382893e+02  2.372386e+02  2.372386e+02
AVG_MATH_8_SCORE              2.813691e+02  2.806188e+02  2.806188e+02
AVG_READING_4_SCORE           2.209282e+02  2.204160e+02  2.204160e+02
AVG_READING_8_SCORE           2.651360e+02  2.650109e+02  2.650109e+02

In [26]:
# stds of each dataframe
# the first df seems to have decently higher deviations than the 2nd two 
pd.concat([df.std(), df2.std(), df3.std()], axis=1)

                                         0             1             2
YEAR                          6.096588e+00  7.393983e+00  7.393983e+00
ENROLL                        1.120275e+06  1.003532e+06  1.035312e+06
TOTAL_REVENUE                 1.300248e+07  1.110204e+07  1.133687e+07
FEDERAL_REVENUE               1.317133e+06  1.085057e+06  1.099649e+06
STATE_REVENUE                 6.114588e+06  5.237195e+06  5.342626e+06
LOCAL_REVENUE                 6.043418e+06  5.181475e+06  5.287804e+06
TOTAL_EXPENDITURE             1.324364e+07  1.132084e+07  1.155975e+07
INSTRUCTION_EXPENDITURE       6.945857e+06  5.947042e+06  6.070526e+06
SUPPORT_SERVICES_EXPENDITURE  3.697200e+06  3.170760e+06  3.241094e+06
OTHER_EXPENDITURE             5.856068e+05  5.041013e+05  5.176803e+05
CAPITAL_OUTLAY_EXPENDITURE    1.484170e+06  1.254176e+06  1.271975e+06
GRADES_PK_G                   3.406151e+04  2.926348e+04  2.944791e+04
GRADES_KG_G                   8.605107e+04  7.933699e+04  7.978352e+04
GRADES_4_G                    8.569380e+04  7.945194e+04  7.990175e+04
GRADES_8_G                    8.530113e+04  7.808398e+04  7.854181e+04
GRADES_12_G                   7.624908e+04  6.718734e+04  6.756033e+04
GRADES_1_8_G                  6.879738e+05  6.368932e+05  6.405315e+05
GRADES_9_12_G                 3.376090e+05  3.044943e+05  3.062259e+05
GRADES_ALL_G                  1.026837e+06  9.456162e+05  9.543821e+05
AVG_MATH_4_SCORE              9.159956e+00  1.022151e+01  1.022151e+01
AVG_MATH_8_SCORE              9.695064e+00  1.015972e+01  1.015972e+01
AVG_READING_4_SCORE           7.698038e+00  7.769616e+00  7.769616e+00
AVG_READING_8_SCORE           6.834157e+00  6.803725e+00  6.803725e+00